<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- POST_NOTIFICATIONS push alarm 기능 권한 요청을 위해 추가 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- SCHEDULE_EXACT_ALARM push alarm 기능을 위해 추가 -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name=".config.ApplicationClass"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_todo_icon"
        android:label="잉여 탈출"
        android:roundIcon="@mipmap/app_todo_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MustToDoList"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DoneTodoListActivity"
            android:exported="false" >
        </activity>
        <activity
            android:name=".MemoEditActivity"
            android:exported="false"
            android:label="@string/title_activity_memo_edit"
            android:theme="@style/Theme.MustToDoList" />
        <activity
            android:name=".TodoAddEditActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>

        <receiver
            android:name=".receiver.NotificationReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"></receiver>
    </application>

</manifest>